<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aceso-User Biodata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles1.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Ubuntu&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1>Welcome!</h1>
  <section class="Info">
    <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">First and last name</span>
    </div>
    <input type="text" aria-label="First name" class="form-control">
    <input type="text" aria-label="Last name" class="form-control">
  </div>
  <br>
    <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Email-id</span>
    </div>
    <input type="text" aria-label="Email" class="form-control">
  </div>
  <br>
  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Phone Number</span>
  </div>
  <input type="tel" aria-label="Phone number" class="form-control">
  </div>
<br>
<div class="input-group">
<div class="input-group-prepend">
  <span class="input-group-text">Date of birth</span>
</div>
<input type="date"  class="form-control">
</div>
<br>
<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Upload any previous prescriptions</label>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
  </div>
</div>
</section>
<br>
<button type="button" class="btn btn-outline-light btn-lg download-button"> Submit </button>
</body>
</html>
