<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-hospital-6x"></i>
    <h1 class="display-3">ACESO</h1>
    <p class="lead">Healing You faster and Better</p>
    <hr>
<h1>USER</h1>
<button type="button" class="btn btn-outline-dark btn-lg download-button"><a href="/user"> Go Ahead! </a></button>
<h1>HOSPITAL</h1>
<button type="button" class="btn btn-outline-dark btn-lg download-button"><a href="/Hospitalgate"> Go Ahead!</a> </button>
<h1>MEDICAL STORE</h1>
<button type="button" class="btn btn-outline-dark btn-lg download-button"><a href="/medicalGate"> Go Ahead! </a></button>
  </div>
</div>

<%- include('partials/footer') %>
