<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">ACESO</h1>
    <p class="lead">Healing You faster and Better</p>
    <hr>
<h1>OOPS!!WRONG PASSWORD/h1>
  </div>
</div>

<%- include('partials/footer') %>
