<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">ACESO</h1>
    <p class="lead">Healing You faster and Better</p>
    <hr>
<h1>ENTER USER BIO</h1>
<button type="button" class="btn btn-outline-dark btn-lg download-button"><a href="/biodata"> Go Ahead! </a></button>
<hr>
<button type="button" class="btn btn-outline-dark btn-lg download-button"><a href="/finalmap"><i class="fas fa-search-location"></i> SEARCH STORE </a> </button>
<hr>
<button type="button" class="btn btn-outline-dark btn-lg download-button"><a href="/finalmap"> <i class="fas fa-search-location"></i> SEARCH HOSPITAL </a></button>
  </div>
</div>

<%- include('partials/footer') %>
